<h1><%= @restaurant.name %></h1>


<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>


<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
  <% end %>
</ul>
<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
